body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/*.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}*/

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.label-container{
	position: fixed;
	bottom: 48px;
	right: 105px;
	display: table;
	visibility: hidden;
}

.label-text{
	color: #fff;
	background: rgba(51,51,51,0.5);
	display: table-cell;
	padding: 10px;
	border-radius: 3px;
}

.label-arrow{
	display: table-cell;
	vertical-align: middle;
	color: #333;
	opacity: 0.5;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 10px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;	
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

.side-active {
    color: #ddd;
    background: #6666ff;
}

ul ul a {
    font-size: 1em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
    border-right: 5px solid #ff6600;
}

a.list-group-item:hover {
    background: #cccccc;
    /*color: #7386D5;*/
}

.list-active {
    border-style: solid;
    border-width: 1px 10px 1px 1px;
    /*border-color: #6666ff;*/
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/*#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    position: absolute;
    top: 20px;
    right: 0;
}*/

#spinner {
    position: absolute;
    background-color: rgba(255,255,255);
    z-index: 1000;
    width: 82%;
    height: 104%;
/*    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;*/
    /* transform: translate(-50%, -50%); */
    display: none;
}

#spinnerModal {
    position: absolute;
    /*opacity: 90%;*/
    /*background-color: rgba(255,255,255);*/
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;/*
    bottom: 0px;
    right: 0;*/
    /* transform: translate(-50%, -50%); */
    display: none;
}
/*div.dropdown-item {
    background: #ccffcc;
}*/